:host,
editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}
